.box1 {
    background-color: #A6CF98;
    height: 120px;
  }
  
  .box2 {
    background-color: #557C55;
    height: 60px;
  }
  
  .redes {
    font-size: 50px !important;
    color: white;
  }
  
  .textos {
    color: white;
  }